{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>Kelvin Lab</title>

<style>
    .image-container {
        flex: 1;
        text-align: right;
        padding: 10px;
    }
    .image-rwa-container {
        flex: 1;
        text-align: center;
        padding: 10px;
    }
    
    
</style>

<div class="text-box">
    <p><b><u>Infectious diseases account for about 1/3 of all deaths worldwide.</b></u> 
        <br>
        <br>
        The majority of these are in developing countries where children are at the highest risk. Furthermore infectious pathogens directly or indirectly lead to the development of 1/3 of all cancers. Dr. David Kelvin’s research team conducts studies to identify pathogenic mechanisms of immune evasion and disease severity in ancient infectious diseases, infectious emerging diseases, and cancer development.

        Dr. Kelvin has an internationally based research program and carries out studies in Shantou (China), Sardinia (Italy), Kigali (Rwanda), and Halifax (Canada). His central research programs include Ancient Pathogens, Cancer and Infectious Disease, and Emerging and Re-emerging Infectious Diseases. 
        <br>
        Dr. Kelvin has published in several high impact journals including Nature, Science, Nature Medicine, Nature Immunology, New England Journal of Medicine as well as several open access journals. Dr. Kelvin and several international colleagues established the Journal of Infection in Developing Countries (JIDC), an open access journal devoted to infectious diseases in resource limited countries.
        </p>
</div>
<div class="image-rwa-container">
    
    <img src="https://raw.githubusercontent.com/gustavsganzerla/lab-website/main/site_app/static/images/rwa1.jpeg" alt="Rwa1" width="250" height="200">
    <img src="https://raw.githubusercontent.com/gustavsganzerla/lab-website/main/site_app/static/images/rwa2.jpeg" alt="Rwa2" width="250" height="200">
    <img src="https://raw.githubusercontent.com/gustavsganzerla/lab-website/main/site_app/static/images/rwa3.png" alt="Rwa3" width="250" height="200">
</div>




{% endblock %}
