{% extends 'base.html' %}

{% load static %}


{% block content %}
<title>Publications</title>
<div style="text-align: center;">
    <p><b>As a way to promote scientific transparency, all of our work is published in open-access journals.</b></p>
</div>

<ul>
<li><p>Sganzerla Martinez G, Dutt M, Kumar A, Kelvin DJ. <br>
    PoxiPred: An artificial intelligence-based method for the prediction of potential antigens and epitopes to accelerate vaccine development efforts against poxviruses.<br>
    (PREPRINT) Biorxiv (2023) <a href = "https://www.biorxiv.org/content/10.1101/2023.08.04.551871v1" target="_blank">[Link] </a></p> </li>

<li><p>Sganzerla Martinez G, Kelvin DJ. <br> 
    Convergence in Mobility DataSets from Apple, Google, and Meta.<br> 
    JMIR Public Health and Surveillance, 2023;9:e44286.
    <a href = "https://publichealth.jmir.org/2023/1/e44286" target="_blank">[Link]</a></p></li>

<li><p> Dutt M, Kumar A, Rout M, Dehury B, Sganzerla Martinez G, Ndishimye P, Kelvin AA, Kelvin DJ.<br>
    Drug repurposing for Mpox: Discovery of small molecules as potential inhibitors against DNA-dependent RNA polymerase using molecular modeling approach.<br> 
    Journal of Cellular Biochemistry, 2023, 24:701-715.  
    <a href = "https://onlinelibrary.wiley.com/doi/10.1002/jcb.30397" target="_blank">[Link]</a></p></li>

<li><p>Sganzerla Martinez G, Hewins B, LeBlanc JJ, Ndishimye P, Ostadgavahi AT, Kelvin DJ. <br>
    Evaluating the effectiveness of lockdowns and restrictions during SARS-CoV-2 variant waves in the Canadian province of Nova Scotia.<br> 
    Frontiers in Public Health, 2023, 11.
    <a href = "https://www.frontiersin.org/articles/10.3389/fpubh.2023.1142602/full" target="_blank">[Link]</a></p></li>

<li><p>Shukla R, Chandra A, Kumar A, Kandpal P, Avashthi H, Goel VK, Qamar I, Singh N, Kelvin DJ, Singh TR.<br> 
    Repurposing of drugs against methyltransferase as potential Zika virus therapies<br> 
    Scientif Reports 2023, 13 (7870).
    <a href = "https://www.nature.com/articles/s41598-023-33341-6" target="_blank">[Link]</a></p></li>  

<li><p>Garduno A, Sganzerla Martinez G, Ostadgavahi AT, Kelvin DJ, Cusack R, Martin-Loeches I. <br>
    Parallel Dysregulated Immune Response in Severe Forms of COVID-19 and Bacterial Sepsis via Single-Cell Transcriptome Sequencing.<br> 
    Biomedicines 2023, 11(3).
    <a href = "https://www.mdpi.com/2227-9059/11/3/778" target="_blank">[Link]</a></p></li>

<li><p>Sganzerla Martinez G, Ostadgavahi AT, Mahmud-Al-Rafat A, Garduno A, Cusack R, Bermejo-Martin JF, Martin-Loeches I, Kelvin DJ. <br>
    Model-interpreted outcomes of artificial neural networks classifying immune biomarkers associated with severe infections in ICU.<br> 
    Frontiers in Immunology, 2023, 14.
    <a href = "https://www.frontiersin.org/articles/10.3389/fimmu.2023.1137850/full" target="_blank">[Link]</a></p></li>

<li><p>Shukla R, Kumar A, Kelvin DJ, Singh TR.<br> 
    Disruption of DYRK1A-induced hyperphosphorylation of amyloid-beta and tau protein in Alzheimer’s disease: An integrative molecular modeling approach.<br> 
    Frontiers in Molecular Biosciences, 2023, 9.
    <a href = "https://www.frontiersin.org/articles/10.3389/fmolb.2022.1078987/full" target="_blank">[Link]</a></p></li>

<li><p>Sganzerla Martinez G, Garduno A, Mahmud-Al-Rafat A, Ostadgavahi AT, Avery A, de Avila e Silva S, Cusack R, Cameron C, Cameron M, Martin-Loeches I, Kelvin DJ. <br>
    An artificial neural network classification method employing longitudinally monitored immune biomarkers to predict the clinical outcome of critically ill COVID-19 patients.<br> 
    PeerJ, 2022, 10:e14487.
    <a href = "https://peerj.com/articles/14487/" target="_blank">[Link]</a></p></li>

<li><p>Kumar A, Sharma M, Richardson CD, Kelvin DJ. <br> 
    Potential of Natural Alkaloids From Jadwar (Delphinium denudatum) as Inhibitors Against Main Protease of COVID-19: A Molecular Modeling Approach<br> 
    Frontiers in Molecular Biosciences, 2022, 9.
    <a href = "https://www.frontiersin.org/articles/10.3389/fmolb.2022.898874/full" target="_blank">[Link]</a></p></li>

<li><p>Hewins B, Rahman M, Bermejo-Martin JF, Kelvin AA, Richardson CD, Rubino S, Kumar A, Ndishimye P, Ostadgavahi AT, Mahmud-Al-Rafat, A, Kelvin DJ.<br> 
    Alpha, Beta, Delta, Omicron, and SARS-CoV-2 Breakthrough Cases: Defining Immunological Mechanisms for Vaccine Waning and Vaccine-Variant Mismatch.<br> 
    Frontiers in Virology, 2022, 2.
    <a href = "https://www.frontiersin.org/articles/10.3389/fviro.2022.849936/full" target="_blank">[Link]</a></p></li>
</ul>


{% endblock %}
